@use "@material/drawer/mdc-drawer";
@use "@material/list/mdc-list";

// Header
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";

// Cards
@use "@material/card/mdc-card";

// buttons
@use "@material/button/mdc-button";

@use "@material/elevation/mdc-elevation";

// Grid
@import "@material/layout-grid/mdc-layout-grid";

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}

// only apply this style if below top app bar
.mdc-top-app-bar {
    z-index: 7;
}

#main-container {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 25px;
}
#main-container .mdc-card {
    padding: 50px 25px;
}